<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <item view="Sensor.list" title="msg://com.company.sensorsview.view.sensor/sensorListView.title"/>
    <separator />
    <item view="User.list" title="msg://com.company.sensorsview.view.user/UserListView.title"/>
</menu-config>